Source: google-cloud-cpp
Section: utils
Priority: optional
Maintainer: Darren Bolduc <dbolduc@google.com>
Build-Depends: debhelper-compat (= 13), cmake, pkgconf
Standards-Version: 4.6.2
Rules-Requires-Root: no
Homepage: https://cloud.google.com/cpp
Vcs-Browser: https://github.com/googleapis/google-cloud-cpp
Vcs-Git: https://github.com/googleapis/google-cloud-cpp.git

Package: google-cloud-cpp
Section: libdevel
Priority: optional
Architecture: any
Depends: libabsl-dev, libprotobuf-dev, protobuf-compiler, libgrpc++-dev, libgrpc-dev, protobuf-compiler-grpc, libcurl4-openssl-dev, libssl-dev, nlohmann-json3-dev
Description: C++ Client Libraries for Google Cloud Platform
 A collection of C++ Client Libraries for Google Cloud Platform services, such
 as Google Cloud Storage and Google Cloud Bigtable.
